*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

p {
    background-color: rgb(37, 162, 204);
    padding: 3px 100px;
    border: 2px solid rgb(0, 0, 0);
    font-size: 20px;
    font-family: monospace;
    font-weight: 600;
    max-width: 100px;
    height: 50px;
}

header {
    max-width: 1200px;
    height: 400px;
    border: 4px solid rgb(0, 0, 0);
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    background-color: rgb(237, 126, 126);
}